/* --------- Global style */

body {
    background: #A0E7E5;
    font-family: 'Darumadrop One', cursive;
    text-align: center;
}

/* --------- Main heading */

.game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    
    color: #FFAEBC;
    font-weight: 600;
    padding-top: 50px;
    
    
}

/* --------- Quiz area layout */

.quiz-area {
width: 80%;
max-width: 500px;
margin: 60px auto 0;
border-radius: 20px;
padding: 20px;
background-color: white;

}
    
    h2 {
    font-family: 'Darumadrop One', cursive;
    font-size: 28px;
    font-weight: 600;
}

/* --------- Buttons */

.btn {
    background: white;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover {
background: #A0E7E5;
color: white;
}

.btn-next {
background: #FFAEBC;
color: white;
font-weight: 500;
width: 150px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 4px;
cursor: pointer;
display: block;
  
}